* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	&::after,
	&::before {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}
}

body {
	background-color: #fff;
	font-family: Arial, Helvetica, serif;
	font-size: 16px;
	padding: 100px 0;
}

.data_table {
	border-collapse: separate;
	border-left: 1px solid $c_border;
	border-spacing: 0;
	border-top: 1px solid $c_border;
	width: 100%;

	thead {
		background-color: $c_primary;
		cursor: pointer;
		font-weight: 700;
		text-align: center;
		text-transform: uppercase;
	}

	td {
		border-bottom: 1px solid $c_border;
		border-right: 1px solid $c_border;
		padding: 4px;

		&:last-child {
			//border-left: none;
		}
	}
}

.form_search {
	align-items: center;
	display: flex;
	margin: 30px 0;
	width: 100%;

	&__input {
		padding: .5em 1em;
		width: 100%;
	}

	&__submit {
		flex-shrink: 0;

		input {
			left: -9999px;
			position: absolute;
		}
	}

	&__submit_text {
		background-color: $c_primary;
		padding: 10px 20px;
		text-transform: uppercase;
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 600px;
	padding: 0 30px;
	width: 100%;
}